<!-- <p>super-stockist-reset-password works!</p> -->
<div class=" flex-row container">
    <div class="" style="text-align: center;">
        <mat-card class="col-5 ">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Password Reset Form</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px"
                    fxLayoutGap.xs="0">
                    <div fxFlex="50">
                        <form [formGroup]="superStockistPasswordResetForm">
                            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start"
                                fxLayoutGap="10px" fxLayoutGap.xs="0">
                                <mat-form-field fxFlex="100">
                                    <mat-label>Old Password</mat-label>
                                    <input type="text" matInput formControlName="oldPassword" placeholder="Enter Old Password">

                                    <!-- <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end"
                                        fxLayoutGap="10px" fxLayoutGap.xs="0"
                                        *ngIf="!superStockistMasterForm.get('userName').valid && superStockistMasterForm.get('userName').touched">
                                        <mat-error *ngIf="superStockistMasterForm.get('userName').errors['required']">
                                            This field is Required</mat-error>
                                        <mat-error *ngIf="superStockistMasterForm.get('userName').errors['minlength']">
                                            Minimum length of name is
                                            {{superStockistMasterForm.get('userName').errors.minlength.requiredLength}}
                                        </mat-error>
                                    </div> -->
                                </mat-form-field>                                

                                
                            </div>
                            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start"
                                fxLayoutGap="10px" fxLayoutGap.xs="0">
                                <mat-form-field fxFlex="100">
                                    <mat-label>New Password</mat-label>
                                    <input type="text" matInput formControlName="newPassword" placeholder="Enter New Password">
                                </mat-form-field>                                

                                
                            </div>
                            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start"
                                fxLayoutGap="10px" fxLayoutGap.xs="0">
                                <mat-form-field fxFlex="100">
                                    <mat-label>Confirmed Password</mat-label>
                                    <input type="text" matInput formControlName="confirmedPassword" placeholder="Enter Confirmed Password">
                                </mat-form-field>                                

                                
                            </div>
                            
                        </form>
                    </div>
                </div>

                <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px"
                    fxLayoutGap.xs="0">
                    <button class="pull-right" mat-raised-button color="primary" mat-stroked-button (click)="resetPassword()" [disabled]="!superStockistPasswordResetForm.valid">Reset</button>
                    <!-- <button class="pull-right" mat-raised-button color="primary"  mat-stroked-button >Update</button>
                    <button class="pull-right" mat-raised-button color="warn" mat-stroked-button>clear</button> -->
                </div>


            </mat-card-content>
        </mat-card>
    </div>

</div>
